In [1]:
# Read csv file
import pandas as pd
file = "Resources/election_data.csv"
df_original_votes = pd.read_csv(file)
df_original_votes.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [2]:
# The total number of votes cast
total_votes = df_original_votes["Voter ID"].count()
print("Total votes: " + str(total_votes))

Total votes: 3521001

In [3]:
# A complete list of candidates who received votes
df_candidate_list = df_original_votes["Candidate"].unique()
print(df_candidate_list)

['Khan' 'Correy' 'Li' "O'Tooley"]

In [4]:
# The total number of votes each candidate won
df_grouped_candidate = df_original_votes.groupby(["Candidate"])
df_candidate_votes = df_grouped_candidate["Voter ID"].count()
df_candidate_votes.head()

Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Name: Voter ID, dtype: int64

In [27]:
# The percentage of votes each candidate won
df_percentage = df_candidate_votes/total_votes
df_percentage.head()

           Voter ID
Candidate
Correy         0.20
Khan           0.63
Li             0.14
O'Tooley       0.03

In [18]:
# The winner of the election based on popular vote.
df_candidate_votes = pd.DataFrame(df_candidate_votes)
#print(df_candidate_votes)
df_winner = df_candidate_votes["Voter ID"].max()
#print(df_winner)
winner_candidate = df_candidate_votes.loc[df_candidate_votes['Voter ID'] == df_winner]
print(winner_candidate)

           Voter ID
Candidate
Khan        2218231

In [39]:
# Print results to termminal
print("Total Votes: " + str(total_votes))
print(df_candidate_votes)
print("Winner: " + str(winner_candidate))

Total Votes: 3521001
           Voter ID
Candidate
Correy       704200
Khan        2218231
Li           492940
O'Tooley     105630
Winner:            Voter ID
Candidate
Khan        2218231

In [37]:
# Export results to text file
df_results = pd.DataFrame(
    {"Total Votes: ": [total_votes],
     "Election Results: ": [df_candidate_votes],
    "Winner: ": [winner_candidate] })
print(df_results)
df_results.to_csv("Output/Election_Results.txt", index=False)

   Total Votes:                                  Election Results:   \
0        3521001             Voter ID
Candidate
Correy...

                                            Winner:
0             Voter ID
Candidate
Khan  ...